build/amcl/build/**
build/amcl/*.pgm

build/nav/build/**
build/nav/*.pgm
build/nav/main

build/slam/build/**
build/slam/slambuild/**
build/slam/laser_data.dat

build/teb/build/**
build/teb/*.csv

build/lidar/build/**

build/imu/build/**
build/imu/out/**
build/imu/imu


**/target

**/out/
**/out.bak/

third_party
.vscode